:root {
    --bg-color: #d1dfe4;
    --outer-text: rgb(46, 46, 153, 0.5);
}
body {
    background-color: var(--bg-color);
  
}

.dashboard-title {
    color: var(--outer-text);
    width: 300px;
    text-align: center;
    
    
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 55rem;
    position: absolute;
    left: 15rem;
    
}
.form {
    padding-left: 40%;
    padding-top: 1rem;
}

